<!DOCTYPE html>
<html lang="en">
    <head> 

    </head>
    <body>
        <h1>{{page_data.page_title}}</h1>

        <p>{{page_data.resolved_url}} is linked from the following pages within the network:</p>
        <table>
            {% for row in in_links %}
            <tr>
                {% for col in row %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
          </table>
          
          <p>{{page_data.resolved_url}} is canoncalized at the following discovered URLs:</p>
          <ul>
          {% for row in canonicalized_urls %}
            <li>
                {{row[0]}}
            </li>
            {% endfor %}
        </ul>

    </body>
</html>